@model IEnumerable<PracaInz.Models.Course>

@{
    ViewData["Title"] = "Lista";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create">Utwórz nowy</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.Person.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CourseID">Edytuj</a> |
                    <a asp-action="Details" asp-route-id="@item.CourseID">Szczegóły</a> |

                    @if (item.Enrollment != null)
                    {
                        <a asp-action="CheckPresence" asp-route-ClassID="@item.Enrollment.ClassID" asp-route-CourseID="@item.CourseID">Obecność</a>
                        <text>|</text>
                    }

                    <a asp-action="Delete" asp-route-id="@item.CourseID">Usuń</a>
                </td>
            </tr>
        }
    </tbody>
</table>
