@model PracaInz.Models.Subject

@{
    ViewData["Title"] = "Usuń";
}

<h2>@ViewData["Title"]</h2>

<h3>Czy chcesz usunąć przedmiot?</h3>
<div>
    <h4>Przedmiot</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsImportant)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsImportant)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="SubjectID" />
        <input type="submit" value="Usuń" class="btn btn-primary" /> |
        <a asp-action="Index">Wróć do listy</a>
    </form>
</div>
