@model IEnumerable<PracaInz.Models.Grade>

@{
    ViewData["Title"] = "Lista";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create">Utwórz</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Course)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Value)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Course.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.Person.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.GradeID">Edytuj</a> |
                    <a asp-action="Details" asp-route-id="@item.GradeID">Szczegóły</a> |
                    <a asp-action="Delete" asp-route-id="@item.GradeID">Usuń</a>
                </td>
            </tr>
        }
    </tbody>
</table>
