@model IEnumerable<PracaInz.Models.Person>

@{
    ViewData["Title"] = "Lista";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create">Utwórz nowy</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstMidName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pesel)
            </th>
            <th>
                Rola
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstMidName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirthDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pesel)
                </td>
                <td>
                    @if (item.Employee != null)
                    {
                        if (item.Employee.isTeacher)
                        {
                            <text>Nauczyciel</text>
                        }
                        else
                        {
                            <text>Sekretariat</text>
                        }
                    }
                    else if (item.Student != null)
                    {
                        <text>Uczeń</text>
                    }
                    else
                    {
                        <text>Nieprzypisany</text>
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edytuj</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Szczegóły</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
                </td>
            </tr>
        }
    </tbody>
</table>
